.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.blogpost {
    width: 225px;
    height: 150px;
    margin: 25px 0;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: lightgrey;
}