:root {
    --dark-color: #222222;
    --light-color: #dddddd;
    --highlight-color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    min-height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-title {
    margin-left: 20px;
}

.header-navigation {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin-right: 20px;
}

.main-banner {
    background-color: var(--light-color);
    color: var(--dark-color);
    min-height: 100px;
    text-align: center;
    padding: 20px 0;
}

.blogposts {
    background-color: var(--light-color);
    display: flex;
    flex-wrap: wrap;
}

.blogpost {
    min-height: 100px;
    padding: 20px;
}

.blogpost.highlighted {
    order: -1;
    background-color: var(--highlight-color);
    color: var(--dark-color);
}

.blogpost-thumbnail {
    width: 100%;
}

.blogpost-title,
.blogpost-preview {
    margin: 10px 0;
}

.contact-form {
    min-height: 100px;
    background-color: var(--light-color);
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.d-none {
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-link {
    font-size: 10px;
    margin: 15px;
}

.form-label {
    margin: 20px;
    display: block;
    font-size: 14px;
    line-height: 24px;
}

.form-input,
.form-textarea {
    display: block;
    padding: 6px;
}

.form-textarea {
    height: 125px;
}

.btn-send {
    border: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .5);
    padding: 12px;
    margin: 12px 0;
    cursor: pointer;
}


.nav-link,
.nav-link:visited,
.nav-link:active,
.nav-link:hover,
.footer-link,
.footer-link:visited,
.footer-link:active,
.footer-link:hover {
    color: var(--light-color);
}

@media only screen and (min-width:600px) {
    body {
        width: 600px;
        margin: 0 auto;
    }

    .d-sm-block {
        display: block;
    }



    .blogpost {
        width: 50%;
    }

}

@media only screen and (min-width:800px) {
    body {
        width: 700px;
    }

    .blogpost {
        width: 33.33%;
    }
}