* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: lightgreen;
    min-height: 100px;
    border: 1px solid black;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-title {
    margin-left: 20px;
}

.header-navigation {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin-right: 20px;
}

.main-banner {
    background-color: lightsalmon;
    min-height: 100px;
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
}

.blogposts {
    background-color: lightblue;
}

.blogpost {
    min-height: 100px;
    border: 1px solid black;
    padding: 20px;
}

.blogpost-thumbnail {
    width: 100%;
}

.blogpost-title,
.blogpost-preview {
    margin: 10px 0;
}

.contact-form {
    min-height: 100px;
    background-color: lightyellow;
    border: 1px solid black;
}


.d-none {
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-link {
    font-size: 10px;
    margin: 15px;
}



@media only screen and (min-width:600px) {
    body {
        width: 600px;
        margin: 0 auto;
    }

    .d-sm-block {
        display: block;
    }

    .blogposts {
        display: flex;
        flex-wrap: wrap;
    }

    .blogpost {
        width: 50%;
    }

}

@media only screen and (min-width:800px) {
    body {
        width: 700px;
    }

    blogpost {
        width: 33.33%;
    }
}