body {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 15px;
  text-align: center;
}

.outer-flex-container{
  width: 150px;
}

.flex-item {
  width: 150px;
  height: 100px;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  border: 5px solid grey;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 800px;
  box-sizing: content-box;
  margin: 0 auto;
  border: 1px solid black;
  background-color: lightgreen;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}
